@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Portal Heindall é um WEBAPP em Aspnet7 com banco de dados mysql(maria-db)

    Host :
    Host BD : server=185.239.210.205;initial catalog=u839385910_heindall;uid=u839385910_heindall;pwd=Aa@heindall23

    Sua função é permitir que CADA USUARIO informe as respectivas credenciais E banco de dados de destino
    para a APIRextur fazer a leitura dos dados no endpoint e persistir no banco de dados CORRESPONDENTE. 
  
    TAMBEM informar o campo DATA no momento de fazer a requisição GET da Rextur.

    O acesso de admin permite tambem, cadastrar os endpoints, portas de acesso, ID Agencia, BANCO DE DESTINO DOS
    DADOS importados e demais configurações que se façam necessarias para a importação dos dados da Rextur, e
    ou outro INTEGRADOR que seja cadastrado.

</p>
