@{
    ViewData["Title"] = "Sobre ";
}
<h1>@ViewData["Title"]</h1>

<p>O objetivo deste programa é facilitar a integração entre os consolidadores cadastrados 
    e o sistema Infotur.<br>
    Para isso, é necessário que o usuário informe a data de interesse para que o programa 
    possa buscar os dados correspondentes.<br></p>

<p>Em termos mais simples, um consolidador é uma empresa que oferece pacotes de viagem ou 
    serviços turísticos.<br>O sistema Infotur é um software que ajuda na gestão de informações 
    e processos relacionados ao turismo.<br></p>

<p>Com a utilização deste programa, é possível obter informações atualizadas e precisas 
    sobre as atividades turísticas em um determinado período, o que pode ser útil para 
    diversas finalidades, como planejamento de viagens, análise de tendências do mercado, 
    entre outros.<br></p>

<p>Lembre-se de informar a data correta para que o programa possa buscar as informações 
    desejadas de forma adequada.</p>
