@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, User9999</h1>
    <p>Clique em IMPORTAR INTEGRADORES e informe a data desejada.</p>
	<p>O sistema não importa LOCs repetidos </p>
</div>


<div class="container">
	<div class="row">
		<div class="col">
			<button class="btn btn-primary w-100">Importar de todos os Integradores cadastrados</button>
		</div>
		<div class="col">
			<button class="btn btn-secondary">Cadastro</button>
			<button class="btn btn-secondary">Duvidas</button>
			<button class="btn btn-secondary">Voltar</button>
		</div>
	</div>
</div>