@{
    ViewData["Title"] = "Inicio ";
}
<div class="container">
	<img src="~/img/Linfotur.jpg" width="150" height="100" class="d-inline-block align-top" alt="logo">
</div>
<div class="text-center">
    <h1 class="display-4">Olá, User9999</h1>
	<br>
	<h4>Esta é a plataforma de importações dos Integradores Infotur</h4>
	<br>
	<p>
		Clique no botão azul abaixo. E lembre-se de informar a data correta <br>
		para que o programa possa buscar as informações desejadas de forma adequada.
	</p>
	<br>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<button class="btn btn-primary w-100">Importar de todos os Integradores cadastrados</button>
		</div>
		<div class="col">
			<button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Menu", "Home")'">Cadastros</button>
			<button class="btn btn-secondary" onclick="window.location.href='@Url.Action("About", "Home")'">Duvidas</button>
			<button class="btn btn-secondary">Voltar</button>
		</div>
	</div>
</div>
<br>
<div>
	<footer class="footer">
		<div class="container">
			<img src="~/img/icones_embaixo.jpg" width="750" height="100" class="d-inline-block align-top" alt="logo">
		</div>
	</footer>
</div>