@model AppHeindall.Models.IntegradorDoUsuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IntegradordoUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorId" class="control-label"></label>
                <select asp-for="IntegradorId" class="form-control" asp-items="ViewBag.IntegradorId"></select>
                <span asp-validation-for="IntegradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioIdAgencia" class="control-label"></label>
                <input asp-for="UsuarioIdAgencia" class="form-control" />
                <span asp-validation-for="UsuarioIdAgencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginIntegradorUsuario" class="control-label"></label>
                <input asp-for="LoginIntegradorUsuario" class="form-control" />
                <span asp-validation-for="LoginIntegradorUsuario" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="SenhaIntegradorUsuario" class="control-label"></label>
                <input asp-for="SenhaIntegradorUsuario" class="form-control" />
                <span asp-validation-for="SenhaIntegradorUsuario" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PortaIntegradorUsuario" class="control-label"></label>
                <input asp-for="PortaIntegradorUsuario" class="form-control" />
                <span asp-validation-for="PortaIntegradorUsuario" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PublicKeyIntegradorUsuario" class="control-label"></label>
                <input asp-for="PublicKeyIntegradorUsuario" class="form-control" />
                <span asp-validation-for="PublicKeyIntegradorUsuario" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="PrivateKeyIntegradorUsuario" class="control-label"></label>
                <input asp-for="PrivateKeyIntegradorUsuario" class="form-control" />
                <span asp-validation-for="PrivateKeyIntegradorUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
