@model AppHeindall.Models.Integrador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Integrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IntegradorId" class="control-label"></label>
                <input asp-for="IntegradorId" class="form-control" />
                <span asp-validation-for="IntegradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegradorNome" class="control-label"></label>
                <input asp-for="IntegradorNome" class="form-control" />
                <span asp-validation-for="IntegradorNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoUser" class="control-label"></label>
                <input asp-for="GrupoUser" class="form-control" />
                <span asp-validation-for="GrupoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPassword" class="control-label"></label>
                <input asp-for="GrupoPassword" class="form-control" />
                <span asp-validation-for="GrupoPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoPort" class="control-label"></label>
                <input asp-for="GrupoPort" class="form-control" />
                <span asp-validation-for="GrupoPort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicKey" class="control-label"></label>
                <input asp-for="PublicKey" class="form-control" />
                <span asp-validation-for="PublicKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateKey" class="control-label"></label>
                <input asp-for="PrivateKey" class="form-control" />
                <span asp-validation-for="PrivateKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoId" class="control-label"></label>
                <select asp-for="GrupoId" class="form-control" asp-items="ViewBag.GrupoId"></select>
                <span asp-validation-for="GrupoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
